@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap');
/*
    font-family: "Montserrat", sans-serif;
*/

.xpatternB{
    position: absolute;
    height: 900px;
    transform: translate(-50%,0);
    top: 0;
    left: 50%;
    min-width: 100%;
    z-index: -1;
}
html {
    scroll-behavior: smooth;
}
.bold{
    font-weight: bold;
}
body {
    font-family: "Hind Guntur", sans-serif;
    color: #e7e5df;
    overflow-x: hidden;
    background: #000;
    background:radial-gradient(ellipse at top left, #1C2542 0%, #000 70%, #68332f
    100%);
    
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 60px;
    color: #e7e5df;
    position: fixed;
    z-index: 1;
}

.header {
    height: 100%;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header ul {
    display: flex;
}

.header a {
    text-decoration: none;
    color: #e7e5df;
    display: block;
    padding: 15px;
    font-size: 15px;
    box-sizing: border-box;
    text-shadow: 0px 0px 20px #000;
}
    
.header h1 {
    font-size: 20px;
}

/* scroll trick */
.home,
.portfolio,
.contact,
.about {
    min-height: 100svh;
    padding: 100px 40px 40px 40px;
    box-sizing: border-box;
}

/* home*/
.hero{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: 60svh;
}
.heroDesc{
    font-size: clamp(1rem , 1.5vw, 1.4rem);
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    align-self: center;
}
.heroLinks{
align-self: center;
display: flex;
justify-content:space-between;
width: 400px;
}
.heroLinks > *{
    align-self: center;
}
.heroMail{
 font-size: 1rem;
 background: white;
 padding: 10px;
 border-radius: 10px;
 color: black;
 text-shadow: none;
 text-decoration: none;
}
.heroLinks a{
    margin-right: 20px;
    box-sizing: border-box; 
}
.heroLinks a i{
    color: white;

}
.heroLinks a:last-of-type{
    margin-right: 0;
}
.betweenLine{
width: 2px;
height: 50px;
background: white;
}

.heroHeader{
    font-size: clamp(2.2rem, 3.5vw, 4rem);
    margin-bottom: 30px;
    margin-top: 100px;
    text-align: center;
    font-family: "Hind Guntur", sans-serif;
    line-height: 70px;
    letter-spacing: 3px;
}
.lineAni:after{
    content: " ";
    display: inline-block;
    background: white;
    height: 30px;
    width: 5px;
    animation: lineVisi 0.7s ease;
    animation-iteration-count: infinite;
}
@keyframes lineVisi {
    0%{
        background: none;
    }
    50%{
        background: none;
    }
    51%{
        background: white;
    }
    100%{
        background: white;
    }
}
.home {
    width: 100%;display: flex;
    justify-content: center;
}
.home .redType{
    color: #d31847;
    font-weight: bold;
    text-transform: uppercase;
}
.home .blueType{
    color: #2a6bec;
    font-weight: bold;
    text-transform: uppercase;
}
/* om mig */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.about .description {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 70px;
}

.abilityList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 700px;
    gap: 10px;
}
.abilityBox{
    margin-top: 10px;
}
.abilityText{
    font-weight: bold;
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 10px ;
}
.ability{
    padding: 5px 15px;
    background: #2a6bec;
    border-radius: 5px;
}
.redbg{
    background: #d31847;
}
.about .description figure {
    height: 200px;
    border: 1px solid black;
    width: 200px;
    --s: 84px; /* control the size*/
        --c1: #d31847;
        --c2: #2a6bec;
        --c3: #222;
        
        --_g: 0 120deg,#0000 0;
        background:
          conic-gradient(from    0deg at calc(500%/6) calc(100%/3),var(--c3) var(--_g)),
          conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--c2) var(--_g)),
          conic-gradient(from  120deg at calc(100%/3) calc(500%/6),var(--c1) var(--_g)),
          conic-gradient(from  120deg at calc(200%/3) calc(500%/6),var(--c1) var(--_g)),
          conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
          conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
          conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
        background-size: calc(var(--s)*1.732) var(--s);
      
}

.about .description .ommig {
    max-width: 700px;
    line-height: 30px;
    font-size: clamp(0.5rem, 3vw, 1em);
}
.ommig_column{
    padding-left: 40px;
}
.about tr {
    border-bottom: 1px solid #e7e5df;
}

.about td {
    padding: 30px 40px;
    box-sizing: border-box;
    font-size: clamp(0.5rem, 3vw, 1em);
}

/* portfolio */
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.portfolio .portfolioHeader{
    font-size: clamp(2.2rem, 3.5vw, 4rem);
    letter-spacing: 5px;
}
.portfolio .portfolioHeader::before{
    content: "  "; 
}
.portfolio .portfolioProjekter{
    font-size: clamp(3.2rem, 7.5vw, 4rem);
    letter-spacing: 6px;
    padding: 0px 10px 10px 0px;
    /* background: linear-gradient(transparent 0%, transparent 50%, #d31847 50%, #d31847 100%); */
}
.portfolio .portfolioTable tr{
    border-bottom: 1px dotted #fff;
    padding: 25px 10px;

    background: linear-gradient(to left, white 50%,#d31847 50%,#d31847 100%) right;
    background-size: 200%;
    transition: 0.3s linear;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.portfolio .portfolioTable tr:hover{
    cursor: pointer;
    background-position: left;
}
.portfolio .portfolioTable tr:last-of-type{
    border-bottom: 0;
}
.portfolio .portfolioTable tr td:first-of-type{
    
}
.portfolio .portfolioTable tr td{
    padding: 20px 10px;
}

/* contact */
/*
.contact{
    background: white;
    display: flex;
    justify-content:center;
    align-items: center;deg
}
.contact form{
    width: 50%;
    background: rgb(23, 23, 28);
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.contact form label{
    margin: 20px 0px 10px 0px;
}
.contact form label:first-of-type{
    margin: 0px 0px 10px 0px;
}
.contact form input{
    border: none;
    max-width: 300px;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}
.contact form textarea{
    width: 100%;
    height: 300px;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-sizing: border-box;
}
.contact form button{
    margin: 20px 0px 10px 0px;
    width: fit-content;
    font-size: 18px;
    padding: 5px 13px;
    box-sizing: border-box;
} */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact span {
    font-size: clamp(0.5rem, 2vw, 1.3rem);
    
}

.contact a {
    color: #e7e5df;
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 4rem);
    display: block;
    padding: 0px 20px 20px 20px;
}
.contact .info {
    transition: 0.3 ;
    border-image-outset: 20px;
    transition: 0.3s;
}
.contact .info:hover{
    animation: bgLink 0.3s ease;
    scale: 1.3;
}
@keyframes bgLink {
    from{
        scale: 1;
    }
    to{
        scale: 1.3;
    }
}

@media screen and (max-width: 700px) {
    .header a {
        display: none;
    }

    .header h1 {
        width: 100px;
    }
    .heroDesc{
        width: 100%;
    }
    .heroHeader{
    }

    .about .description figure {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
    }

    .about .description {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .about .description .ommig {
        display: inline;
       /* font-size: 10px; */
        line-height: normal;
        padding-left: 0px;
        padding-top: 20px;
    }

    .about table tr {
        border-bottom: #e7e5df solid 1px;
    }

    .about table td {
        font-size: 12px;
        padding: 10px;
    }

    .portfolio .artForm {
        flex-direction: column;
    }

}

/* star header */
/*
.stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image:
        radial-gradient(2px at 70% 50%, skyblue 50%, transparent 70%),
        radial-gradient(2px at 20% 70%, skyblue 50%, transparent 70%),
        radial-gradient(3px at 70% 20%, skyblue 50%, transparent 70%),
        radial-gradient(3px at 35% 40%, skyblue 50%, transparent 70%),
        radial-gradient(1px at 50% 90%, skyblue 50%, transparent 70%),
        radial-gradient(2px at 15% 10%, skyblue 50%, transparent 70%),
        radial-gradient(3px at 90% 80%, skyblue 50%, transparent 70%);
    background-repeat: repeat;
    background-size: 400px 400px;

}

.stars:nth-child(2)::before {
    transform: scale(0.8) rotate(6deg);
    opacity: 0.3;
}

.stars:nth-child(3)::before {
    transform: scale(0.5);
}

.stars:nth-child(4)::before {
    transform: scale(0.5) rotate(20deg);
}
*/
/* animations */
.smallimg{
    width: 300px;
}